<!DOCTYPE html>
<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>

</head>
<body>

    Hi everyone, this is an angular test

    <div ng-app="myApp" ng-controller="controller">
        <label for="textFilter">Filter Results:</label>
        <input type="text" ng-model="textFilter" id="textFilter" name="textFilter">
        <table>

            <tr>
                <thead>
                    <th>Rank</th>
                    <th>Play count</th>
                    <th style="text-align: left">Song Name</th>
                    <th style="text-align: left">Artist</th>
                </thead>
            </tr>

            <tr ng-repeat="song in topTracks | filter:searchFilter">
                <td ng-bind="song.rank"></td>
                <td ng-bind="song.playcount"></td>
                <td ng-bind="song.name"></td>
                <td ng-bind="song.artist.name"></td>
            </tr>
                
        </table> 
    </div>

</body>
</html>